{% load static %}
<!doctype html>
<html lang="ro">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}The Metropolitan Museum of Art Gallery{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="nav">
    <div class="container nav-inner">
        <a class="brand" href="{% url 'object_list' %}">
            <img src="{% static 'images/met.png' %}" alt="Logo" class="logo-img">
            <span class="brand-text">Welcome to The Met</span>
        </a>

      <div class="nav-actions">
        <a class="pill" href="{% url 'object_list' %}">Galerie</a>
        <a class="pill" href="/admin/">Admin</a>
      </div>
    </div>
  </div>

  <main class="main">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
